Repository apache/jena, pull requests merged in 2024-05, with the labels that each got.

#2458 GH-2456: Change the project type to module, and update files to match the import type (import, from ES6)
  jena-fuseki2/jena-fuseki-ui/.eslintrc.js
  jena-fuseki2/jena-fuseki-ui/cypress.config.mjs
  jena-fuseki2/jena-fuseki-ui/eslint.config.js
  jena-fuseki2/jena-fuseki-ui/package.json
  jena-fuseki2/jena-fuseki-ui/src/main.js
  jena-fuseki2/jena-fuseki-ui/src/mixins/current-dataset-navigation-guards.js
  jena-fuseki2/jena-fuseki-ui/src/mixins/list-datasets.js
  jena-fuseki2/jena-fuseki-ui/src/services/mock/json-server.js
  jena-fuseki2/jena-fuseki-ui/src/views/dataset/Edit.vue
  jena-fuseki2/jena-fuseki-ui/src/views/dataset/Query.vue
  jena-fuseki2/jena-fuseki-ui/tests/e2e/specs/datasets.cy.js
  jena-fuseki2/jena-fuseki-ui/tests/e2e/specs/query.cy.js
  jena-fuseki2/jena-fuseki-ui/tests/e2e/specs/upload.cy.js
  jena-fuseki2/jena-fuseki-ui/vite.config.js
  jena-fuseki2/jena-fuseki-ui/yarn.lock
Labels: bug, Fuseki UI

#2474 Ensure tests stop any FusekiServer
  jena-fuseki2/jena-fuseki-main/src/test/java/org/apache/jena/fuseki/main/TS_FusekiMain.java
  jena-fuseki2/jena-fuseki-main/src/test/java/org/apache/jena/fuseki/main/TestCrossOriginFilter.java
  jena-fuseki2/jena-fuseki-main/src/test/java/org/apache/jena/fuseki/main/TestFusekiMainCmdArguments.java
Labels: bug, build

#2483 Bump ver.micrometer from 1.12.5 to 1.13.0
  jena-fuseki2/jena-fuseki-core/src/main/java/org/apache/jena/fuseki/metrics/prometheus/PrometheusMetricsProvider.java
  pom.xml
Labels: dependencies, java
