Repository apache/jena, pull requests merged in 2025-01, with the labels that each got.

#2933 GH-2932: Fix for NodeFmtLib.strNT and added variants for Triple and Quad.
  jena-arq/src/main/java/org/apache/jena/riot/out/NodeFmtLib.java
  jena-arq/src/test/java/org/apache/jena/riot/out/TestNodeFmtLib.java
Labels: enhancement, RIOT

#2967 Import from root
  jena-fuseki2/jena-fuseki-ui/src/styles/index.scss
Labels: Fuseki UI, maintenance

#2970 cypress-run to depend on a maven build
  .github/workflows/ui.yml
Labels: Fuseki UI, build
